@font-face {
    font-family: "OngleleafSeongEunSaem";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSeongEunSaem/OngleleafSeongEunSaem.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSeongEunSaem/OngleleafSeongEunSaem.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSeongEunSaem/OngleleafSeongEunSaem.ttf") format("truetype");
    font-display: swap;
}

.OngleleafSeongEunSaem {
    font-family: "OngleleafSeongEunSaem";
}
